<div class="grid grid-cols-1 gap-4 transition-[grid-template-columns] lg:grid-cols-[120px_1fr] lg:gap-8 lg:[&:has(>*:first-child:hover)]:grid-cols-[160px_1fr]">
  
  <div class="h-24 rounded-lg bg-white border-2 border-opacity-10 border-gray-350 hover:shadow-lg hover:border-emerald-400">
    <img src="https://dashboard.amanpay.net/images/login-logo.png" alt="Logo" class="h-full w-full object-contain">
  </div>
  
  <div class="h-24 rounded-lg bg-white border-2 border-opacity-10 border-gray-350 hover:shadow-lg hover:border-emerald-400">
    <i class="text-slate-800 text-center block">Amount: {{ amount }} $</i>
    <i class="text-slate-800 text-center block">Name: {{ name }}</i>
    <i class="text-slate-800 text-center block">Last Name: {{ lastName }}</i>
    <i class="text-slate-800 text-center block">Email: {{ email }}</i>
  </div>
  
</div>